.countRel {
    position: relative;
}
.countTotalOrder {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #E6213C;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
}

.guestImg img {
    width: 36px;
}


.pdngbtom {
    padding-bottom: 2.5rem;
}
.logo {
    display: none;
}
.scbginner {
    min-height: calc(100vh - 100px);
}
.section_menu {
    margin-top: 0;
}
.sectionHdng {
    padding-top: 1.5rem;
}